.portfolio {
    margin-bottom: 80px;
}

.portfolio .admin-bar {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.portfolio .admin-bar .label {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
}

.portfolio .admin-bar .options {
    padding: 10px 20px;
}

.portfolio h1 {
    font-size: 60px;
}

.portfolio .icon-info {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.portfolio .icon-info span {
    margin-left: 10px;
}

.portfolio .primary-services {
    margin-top: 40px;
    margin-bottom: 10px;
}

.portfolio .primary-services label {
    font-weight: 600;
    font-size: 16px;
}

.portfolio .primary-services span {
    background-color: rgba(136, 201, 44, 0.228);
    padding: 2px 3px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.portfolio .secondary-services label {
    font-weight: 600;
    font-size: 16px;
}

.portfolio .secondary-services span {
    background-color: rgba(44, 136, 201, 0.228);
    padding: 2px 3px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.portfolio h2 {
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.8);
}