@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.portfolio {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    animation: 0.4s 1 forwards appear;
}

.portfolio .name {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}


.portfolio .primary-services {
    margin-bottom: 10px;
}

.portfolio .primary-services label {
    font-weight: 500;
    font-size: 16px;
}

.portfolio .primary-services span {
    background-color: rgba(136, 201, 44, 0.228);
    padding: 2px 3px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.portfolio .secondary-services label {
    font-weight: 500;
    font-size: 16px;
}

.portfolio .secondary-services span {
    background-color: rgba(44, 136, 201, 0.228);
    padding: 2px 3px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}