@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.appear {
  animation: 0.5s 1 forwards appear;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

.icon-text span{
  vertical-align: super;
}


.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  --title-width: 400px;
  --horizontal-margin: 100px;
  flex: 0 1 auto;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 75px;
  box-shadow: 0px 0px 4px 2px #0000001b;
}

.header-title {
  position: absolute;
  width: var(--title-width);
  top: 50%;
  left: var(--horizontal-margin);
  transform: translateY(-50%);
  margin: 0px;
  font-size: 18px;
}

.header-sections {
  position: absolute;
  left: calc(var(--horizontal-margin) + var(--title-width));
  right: var(--horizontal-margin);
  top: 50%;
  transform: translateY(-50%);
}
.header-sections div {
  float: right;
  padding: 8px 10px;
  margin-left: 20px;
  transition: all 0.3s;
  cursor: pointer;
  color: black;
}
.header-sections div:hover {
  background-color: #0000001b;
}
.header-sections div.selected {
  background-color: black;
  color: white;
}

.view-container {
  position: absolute;
  top: 75px;
  height: calc(100% - 75px);
  width: 100%;
  overflow: auto;
}

.view {
  padding: 40px 10% 50px 10%;
}